---
layout: splash
---

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %} -->

The SLU-Global Bioinformatics Centre (SGBC) is part of the Core Facility at
SLU and is an academic research and educational initiative aimed to build a
long-term successful bioinformatics infrastructure facility that serves the
Swedish University for Agricultural Sciences (SLU) and life science research
communities worldwide.
